#wrapper-landing-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
}

#wrapper-landing-page .bg-landing-page {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrapper-landing-page .box-form {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    overflow: hidden;
    /* max-width: 600px; */
    text-align: center;
}
#wrapper-landing-page .box-form.fix-width{
    width: 100%;
    max-width: 500px;
    background-color: #d2a426;
}
#wrapper-landing-page .box-form .box-image {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper-landing-page .box-form .box-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
#wrapper-landing-page .box-form .box-image.scroll-y{
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    display: block;
}
#wrapper-landing-page .box-form .box-image.scroll-y::-webkit-scrollbar {
    width: 3px;
}
#wrapper-landing-page .box-form .box-image.scroll-y::-webkit-scrollbar-track {
    background: #4f545950;
}
#wrapper-landing-page .box-form .box-image.scroll-y::-webkit-scrollbar-thumb {
    background: transparent;
}
#wrapper-landing-page .box-form .box-image.scroll-y img{
    height: auto;
    width: 100%;
}

#wrapper-landing-page .box-form .box-btn {
    width: auto;
    max-width: calc(100% - 20px);
    height: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    background-position: center;
    background-size: cover;
}
#wrapper-landing-page .box-form .box-btn.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0;
    max-width: 100%;
}

#wrapper-landing-page .box-form .box-btn .bg-btn {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#wrapper-landing-page .box-form .box-btn .btn-main {
    width: 100%;
    max-width: calc(100% - 24px);
    margin-inline: 12px;
    border: 6px solid #939191;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff99;
}

#wrapper-landing-page .box-form .box-btn .btn-main .btn-regision {
    background-color: #0405A5;
    color: #FFF;
    font-weight: 700;
    width: 100%;
    min-height: 50px;
    border-radius: 15px;
    border: 0;
    font-size: 34px;
    letter-spacing: 14px;
    padding-block: 10px;
    text-shadow: 0 3px 6px #000;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 4px 8px #00000070;
    box-shadow: -2px 0px 15px 4px #00000080 inset;

}

#wrapper-landing-page .box-form .box-btn .btn-main .btn-regision:hover {
    background-color: #060679;
}

#wrapper-landing-page .box-form .box-btn .btn-main .form-check {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 6px;
    cursor: pointer;
}

#wrapper-landing-page .box-form .box-btn .btn-main .form-check .form-check-input {
    width: 22px;
    height: 22px;
    margin: 3px 0 0;
}

#wrapper-landing-page .box-form .box-btn .btn-main .form-check .form-check-label {
    font-size: 20px;
    color: #2d201a;
    font-weight: 900;
    display: inline-block;
    text-align: left;
}

#wrapper-landing-page .box-form .box-btn .btn-main.introduce {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-block: 15px;
}

#wrapper-landing-page .box-form .box-btn .btn-main.introduce .btn {
    font-size: 30px;
    letter-spacing: unset;
    padding-block: 16px;
    border-radius: 20px;
    box-shadow: -6px 6px 6px 1px #FFFFFF4D inset;
    transition: all .3s;
}

#wrapper-landing-page .box-form .box-btn .btn-main.introduce .btn.register {
    background-color: #FDC62F;
}

#wrapper-landing-page .box-form .box-btn .btn-main.introduce .btn.register:hover {
    background-color: #d2a426;
}

#wrapper-landing-page .box-form .box-btn .btn-main.introduce .btn.login {
    background-color: #7B97CC;
    box-shadow: -2px 0px 9px 4px #00000050 inset;
}

#wrapper-landing-page .box-form .box-btn .btn-main.introduce .btn.login:hover {
    background-color: #506ea6;
}

@media (max-width: 1366px) {
    #wrapper-landing-page .box-form .box-btn .btn-main.introduce .btn {
        font-size: 24px;
    }

    #wrapper-landing-page .box-form .box-btn .btn-main .btn-regision{
        font-size: 26px;
        padding-block: 8px;
    }
    #wrapper-landing-page .box-form .box-btn .btn-main .form-check .form-check-label {
        font-size: 14px;
    }
    #wrapper-landing-page .box-form .box-btn .btn-main {
        padding: 8px 15px;
    }
    #wrapper-landing-page .box-form .box-btn {
        height: 157px;
        padding: 0 20px;
    }
}
@media (max-width: 1080px) {
    #wrapper-landing-page .box-form .box-btn .btn-main.introduce .btn {
        font-size: 18px;
    }
    #wrapper-landing-page .box-form .box-btn {
        height: 135px;
    }
}
@media (max-width: 600px) {
    #wrapper-landing-page {
        background-color: #eac032;
    }
    #wrapper-landing-page .box-form {
        width: 100%;
        max-width: 100%;
        background-color: #eac032;
    }
    #wrapper-landing-page .box-form .box-image {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: max-content;
    }
    #wrapper-landing-page .box-form .box-image img {
        width: 100%;
        height: auto;
    }
    #wrapper-landing-page .box-form .box-btn .btn-main .btn-regision {
        background-color: #0405A5;
        color: #FFF;
        font-weight: 700;
        width: 100%;
        min-height: max-content;
        font-size: 24px;
        letter-spacing: 12px;
        padding-block: 9px;
    }
    #wrapper-landing-page .box-form .box-btn {
        width: auto;
        max-width: 100%;
        height: auto;
        padding: 0 10px;
    }
    #wrapper-landing-page .box-form .box-btn .btn-main {
        border-radius: 16px;
        padding: 10px 12px 8px;
        border-width: 5px;
    }

    #wrapper-landing-page .box-form .box-btn .btn-main .form-check {
        gap: 3px;
        margin-top: 5px;
    }
    #wrapper-landing-page .box-form .box-btn .btn-main .form-check .form-check-input {
        width: 16px;
        height: 16px;
        margin-top: 1px;
    }
    #wrapper-landing-page .box-form .box-btn .btn-main .form-check .form-check-label {
        font-size: 12px;
    }
    #wrapper-landing-page .box-form .box-btn .btn-main.introduce .btn {
        font-size: 18px;
        letter-spacing: unset;
        padding-block: 18px;
        border-radius: 16px;
    }
    #wrapper-landing-page .box-form .box-btn.introduce {
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #wrapper-landing-page .box-form .box-btn .btn-main.introduce {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-block: 13.5px;
    }
}